.genie{
    display: flex;
    padding-top: 20px;
    flex-wrap: wrap;
    background: #f7f7f7;
    padding-left: 130px;
    padding-bottom: 20rem;
}
.home{
  display: flex;
  flex-wrap: wrap;
}
.portofolio{
    width: 15%;
    min-width: 180px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;

}

.portofolio img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 4.2rem;
}
.portofolio:hover{
  box-shadow: 1px 1px 20px rgba(0, 0, 0, .3);
    transition: all .4s ease-in-out;
    transform: translateY(-10px);
}

.portofolio:hover img{
  transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
}

.btn1{
  border: none;
  border-radius: 30px;
  background-color: #0ef;
  text-decoration: none;
  color: black;
  width: 100px;
  height: 30px;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 30px;
}

.membre{
  text-align: center;
  width: 150px;
  height: 50px;
  background-color: #0ef;
  border-radius: 30px;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  margin: 25px;
  padding-top: 15px;
  margin-left: 55rem;
}
.nom{
  color:black;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin-top: 5px;
}
.specialite{
  color: black;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.font {
    height: 60vh;
    min-width: 200vh;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-left: -15rem;
    margin-top: -1.8rem;
  }
  #close{
    display: none;
  }
  .font h4 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .font h2 {
    font-size: 56px;
    margin-bottom: 10px;
  }
  
  .font h1 {
    font-size: 50px;
    margin-bottom: 10px;
    color: white;
    margin-top: 20rem;
  }
  .font p{
    color: white;
    font-size: 1.5rem;
  font-weight: 700;
  }
  
  .font button {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 24px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .font button:hover {
    background-color: #000;
    color: #fff;
  }

  .Icon{
    margin-left: 15px;
  }
  